h1 {
    color: #8A0808;
    font-size: 44px;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    
    border: 1px solid red;
    margin: 20px 10px;
    padding: 10px 5px 3px 2px;
}
h2 {
    color: #01DFD7;
    margin: 10px;
    
}
p {
    color: #8A0808;
}
