h1 {
    color: #8A0808;
    font-size: 44px;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    
    border: 3px solid #01DFD7;
    margin: 20px 10px;
    padding: 10px 5px;
}
h2 {
    color: #FA5882;
    margin: 10px;
    
}
h3 {
    color: #610B0B;
    margin: 20px;
    
}

p {
    color: #8A0808;
    margin: 30px;
}
